{% load static %}

{% block body %}

{% include 'Navigation.html' %}

<div class="container-fluid mt-1">
    <img src="{% static 'Images/Job2.png' %}" style="height: 450px; width: 100%;">
</div>

<div class="container" style="background-color: black; height: 650px ; margin-top: 3%;">
    <h1 class="text-center text-white">-------| Top Tech Companies From Silicon Valley |-------</h1>
    <div class="row mt-5">
        <div class="col-md-3">
            <img src="{% static 'Images/tech1.jpg' %}" style="border-radius: 50%;">
            <div class="content" style="height: 0px; width: 91%;">
                <p>Facebook</p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="{% static 'Images/tech2.jpg' %}" style="border-radius: 50%;">
            <div class="content" style="height: 0px; width: 91%;">
                <p>Facebook</p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="{% static 'Images/tech3.jpg' %}" style="border-radius: 50%;">
            <div class="content" style="height: 0px; width: 91%;">
                <p>Facebook</p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="{% static 'Images/tech4.jpg' %}" style="border-radius: 50%;">
            <div class="content" style="height: 0px; width: 91%;">
                <p>Facebook</p>
            </div>
        </div>

    </div>

    <div class="row mt-5">
        <div class="col-md-3">
            <img src="{% static 'Images/tech5.jpg' %}" style="border-radius: 50%;">
            <div class="content" style="height: 0px; width: 91%;">
                <p>Facebook</p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="{% static 'Images/tech9.jpg' %}" style="border-radius: 90%;">
            <div class="content" style="height: 0px; width: 91%;">
                <p>Facebook</p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="{% static 'Images/tech10.jpg' %}" style="border-radius: 60%;">
            <div class="content" style="height: 0px; width: 91%;">
                <p>Facebook</p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="{% static 'Images/tech8.jpg' %}" style="border-radius: 50%;">
            <div class="content" style="height: 0px; width: 91%;">
                <p>Facebook</p>
            </div>
        </div>

    </div>

</div>

{% endblock %}