{% load static %}

{% block body %}

{% include 'Navigation.html' %}

<marquee style="font-family: 'Monotype Corsiva'; font-size: 30px; color: darkcyan; background-color: black; font-weight: bold; margin-top: 1%;">
    User Login

</marquee>

<form class="container mt-5" method="post" >
    {% csrf_token %}

    <label><b>Email Id</b></label>
    <input type="text" class="form-control" name="uname" placeholder="Enter EmailId">

    <label><b>Password</b></label>
    <input type="password" class="form-control" name="pwd" placeholder="Enter Password">

    <input type="submit" class="btn btn-primary" style="margin-top: 2%; color : darkcyan; background-color: black; height: 40px; font-weight: bold; font-size: 20px;">

</form>

{% include 'footer.html' %}

{% endblock %}